body {
  background-color: #f4edcd;
}

.title {
  text-align: center;
  margin: 30px 0;
  font-weight: 600;
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.custom-img {
  height: 300px;
  object-fit: cover;
}

.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.discount {
  color: rgb(139, 139, 139);
  margin-top: -10px;
  font-size: 0.85rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #eba902;
  border: none;
}

.btn-primary:hover {
  background-color: #cf8500;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.1rem rgba(235, 169, 2, 0.5);
}

.btn-primary:active {
  background-color: #cf8500 !important;
  box-shadow: none !important;
}

.btn-success {
  background-color: #da7d13;
  border: none;
}

.btn-success:hover {
  background-color: #b56a0f;
}

.btn-success:focus {
  box-shadow: 0 0 0 0.1rem rgba(218, 125, 19, 0.5);
}

.btn-success:active {
  background-color: #b56a0f !important;
  box-shadow: none !important;
}